# EDA

### Librerias

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as matplotlib
import seaborn as sns
import numpy as np
from tqdm import tqdm

## Exploración y análisis

In [ ]:
df = pd.read_csv("df_limpio.csv")

In [ ]:
datos = []

# Numero de areas unicas
area = df["area_name"].nunique()
datos.append(f"Cantidad de areas únicas: {area}")

# Area con mas actividad
area_fam = df["area_name"].value_counts().idxmax()
datos.append(f"Area con mas actividad: {area_fam}")
             
# Numero de inmuebles con garaje
garaje = df["has_parking"].value_counts().get(1, 0)
datos.append(f"Numero de inmuebles con garaje: {garaje}")
             
# Tipo de transaccion mas usado
tipot = df["trans_group"].value_counts().idxmax()
datos.append(f"Tipo de transaccion mas comun: {tipot}")
             
# Terreno mas vendido
terr = df["property_type"].value_counts().idxmax()
datos.append(f"Tipo de terreno mas vendido: {terr}")
             
# Inmueble mas vendido 
inmu = df["property_sub_type"].value_counts().idxmax()
datos.append(f"Inmueble mas vendido: {inmu}")
             
# Precio medio del inmueble
precio = df["actual_worth"].mean().round(2)
datos.append(f"Precio medio del inmueble: {precio}")
             
# Inmueble mas caro
preciomax = df["actual_worth"].max()
datos.append(f"Inmueble mas caro: {preciomax}")
             
# Inmueble mas barato
preciomin = df["actual_worth"].min()
datos.append(f"Inmueble mas barato: {preciomin}")

# Precio medio del suelo
suelomed = df["meter_sale_price"].mean().round(2)
datos.append(f"Precio medio del metro de suelo: {suelomed} ")

# Suelo mas caro
suelomax = df["meter_sale_price"].max()
datos.append(f"Suelo mas caro: {suelomax}")

# Suelo mas barato
suelomin = df["meter_sale_price"].min()
datos.append(f"Suelo mas barato: {suelomin}")

# Precio medio de alquiler
alqui = df["rent_value"].mean().round(2)
datos.append(f"Precio medio de alquiler: {alqui}")
             
datos

In [ ]:
df["rent_value"].describe()

In [ ]:
fait = df["date"].min()
fait

In [ ]:
df.columns

In [ ]:
df.set_index(['property_usage', 'area_name'])

In [ ]:
df.groupby("property_usage")[['area_name']].count()

In [ ]:
df.pivot(columns = "property_usage" ,values = 'area_name')

In [ ]:
df.pivot(columns = 'property_usage', values = "meter_sale_price")

In [ ]:
df.pivot(columns = ['area_name'], values = "meter_sale_price").head(5)

In [ ]:
park_room = df.groupby("area_name")[['has_parking', 'rooms']].count()

In [ ]:
park_room.head(50)

In [ ]:
area_precios = df.groupby("area_name")[['actual_worth', "meter_sale_price", "rent_value"]].mean().round(2)

In [ ]:
area_compra = df.groupby("area_name")[['actual_worth']].mean().round(2).head(5)
area_compra

In [ ]:
zona_p = df.groupby(df['area_name'])['actual_worth'].mean()

In [ ]:
zona_p = zona_p.reset_index()

In [ ]:
zona_alta = zona_p.sort_values(by='actual_worth', ascending=False).head(10)

In [ ]:
df.shape

In [ ]:
zona_alta.head(5)

### Gráficas área precio

In [ ]:
dd = df[["area_name","actual_worth"]].round(2) # Hago otro Df para graficar zona y precio del inmueble

In [ ]:
dd = dd.sort_values(by='actual_worth', ascending=False)

In [ ]:
dd = dd.dropna(thresh=len(dd.columns) - 0)

In [ ]:
dd['actual_worth'] = dd['actual_worth'].astype(int)

In [ ]:
dd = dd.drop([853625, 88150, 554342, 92396])

In [ ]:
dd = dd.drop([853625, 88150, 554342, 92396])

In [ ]:
ddb

In [ ]:
plt.barh(ddh.index, ddh["actual_worth"], color= "blue", alpha= 0.8)
plt.gca().invert_yaxis()
plt.xlabel("Precio en millones 5mill-25mill")
plt.title("PRECIO DE INMUEBLE POR ZONAS")
plt.show()

In [ ]:
ddt = ddb.tail(10)

In [ ]:
plt.barh(ddt.index, ddt["actual_worth"], color= "blue", alpha= 0.8)
plt.gca().invert_yaxis()
plt.xlabel("Precio en dirhams")
plt.title("PRECIO DE INMUEBLE POR ZONAS")
plt.show()

In [ ]:
area_compra.plot()

In [ ]:
area_precios.head(5)

In [ ]:
area_precios.plot()

In [ ]:
df.pivot(columns = 'property_usage', values = "meter_sale_price")

### Gráficas area precio alquiler

In [ ]:
dp = df[["area_name","rent_value"]]

In [ ]:
dp = dp.sort_values(by='rent_value', ascending=False)

In [ ]:
dp = dp.dropna(thresh=len(dd.columns) - 0)

In [ ]:
dp

In [ ]:
dpp = dp.groupby("area_name")[['rent_value']].mean().round(2)

In [ ]:
dpp = dpp.sort_values(by='rent_value', ascending=False)

In [ ]:
dppa = dpp.head(10)

In [ ]:
dppb = dpp.tail(10)

In [ ]:
plt.barh(dppa.index, dppa["rent_value"], color= "red", alpha= 0.8)
plt.gca().invert_yaxis()  # Pone las columnas como en el eje Y
plt.xlabel("Precio en millones de dirhams 2mill-10mill")
plt.title("PRECIO DE ALQUILER POR ZONAS")
plt.show()

In [ ]:
plt.barh(dppa.index, dppa["rent_value"], color= "red", alpha= 0.8)
plt.gca().invert_yaxis()  # Pone las columnas como en el eje Y
plt.xlabel("Precio en millones de dirhams 2mill-10mill")
plt.title("PRECIO DE ALQUILER POR ZONAS")
plt.show()

### Gráficas uso del inmueble

In [ ]:
top3 = df["property_usage"].value_counts().head(3)

In [ ]:
plt.bar(top3.index, top3, color= "green", alpha= 0.8)
plt.xlabel("Tipos de inmueble")
plt.title("USO DEL INMUEBLE POR STAKEHOLDERS")
plt.show()

In [ ]:
top4 = df["trans_group"].value_counts().head(3)
top4

In [ ]:
plt.bar(top4.index, top4, color= "green", alpha= 0.8)
plt.xlabel("Tipos de transacción")
plt.title("TRANSACCIONES STAKEHOLDERS")
plt.show()

### Gráficos y correlaciones

In [ ]:
tiempo_precio = df.groupby(df['date'].dt.year)['actual_worth'].mean()

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(tiempo_precio.index, tiempo_precio.values, marker='o')
plt.title('Tendencias Temporales en el Mercado Inmobiliario de Dubai')
plt.xlabel('Año')
plt.ylabel('Precio Promedio')
plt.grid(True)
plt.show()

In [ ]:
df_numeric = df.select_dtypes(include='number')

In [ ]:
plt.figure(figsize=(15, 10))

sns.set(style='white')

mask=np.triu(np.ones_like(df_numeric.corr(), dtype=bool))

cmap=sns.diverging_palette(0, 10, as_cmap=True)


sns.heatmap(df_numeric.corr(),
           mask=mask,
          cmap=cmap,
          center=0,
          square=True,
          annot=True,
          linewidths=0.5,
          cbar_kws={'shrink': 0.5});

In [ ]:
zona_p = df.groupby(df['area_name'])['actual_worth'].mean()

In [ ]:
zona_p = zona_p.reset_index()

In [ ]:
zona_p['actual_worth'] = zona_p['actual_worth'].astype(int)

In [ ]:
zona_alta = zona_p.sort_values(by='actual_worth', ascending=False).head(10)

In [ ]:
zona_alta

In [ ]:
sns.barplot(data=zona_alta, x='area_name', y='actual_worth')
plt.xticks(rotation=75);

In [ ]:
zona_baja = zona_p.sort_values(by='actual_worth', ascending=False).tail(10)

In [ ]:
sns.barplot(data=zona_baja, x='area_name', y='actual_worth')
plt.xticks(rotation=75);

### Exploración y análisis demográfico

In [ ]:
df = pd.read_excel("demogmun.xlsx")

In [ ]:
df.head(1)

In [ ]:
df_emiratos = df.loc[df['country_name'] == 'emiratos árabes unidos']

In [ ]:
df_emiratos

In [ ]:
#Establezco el índice como el nombre del país

df.set_index('country_name', inplace=True)

In [ ]:
# Selecciono el país para el gráfico 
country_to_plot = 'emiratos árabes unidos'

# Filtro el DataFrame para el país seleccionado
selected_country_data = df.loc[country_to_plot]

# Grafico el crecimiento poblacional para el país seleccionado
ax = selected_country_data.plot(kind='line', marker='o')
ax.get_yaxis().get_major_formatter().set_scientific(False)  # Desactivar la notación científica en el eje y
plt.title('Crecimiento Poblacional en Emiratos por Año')
plt.xlabel('Año')
plt.ylabel('Población')
plt.show()

In [ ]:
df1 = pd.read_csv("dfinmi.csv")

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1 = df1.sort_values(by='Fecha')

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(df1['Fecha'], df1['Inmigrantes'], marker='o', label='Inmigrantes')
plt.xlabel('Año')
plt.ylabel('Número de Inmigrantes')
plt.title('Inmigración a lo largo del tiempo')
plt.legend()
plt.grid(True)
plt.show()