# ETL

### Librerias

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Extraccion

### Bases de datos

In [ ]:
df = pd.read_csv("Transactions.csv")

# pagina = https://www.kaggle.com/datasets?search=real+state+dubai&sort=updated

In [ ]:
nf = pd.read_csv('transactions-2023-07-02.csv') dfc = pd.read_csv("dataframeAreasWithALLCoord.csv")

## Transformacion

In [ ]:
df.head(50)

In [ ]:
nf.head(50)

In [ ]:
df.shape

In [ ]:
nf.shape

In [ ]:
df.info()

In [ ]:
nf.info()

In [ ]:
# Configura Pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [ ]:
df.columns

In [ ]:
nf.columns

In [ ]:
# Descarto nf al no ser un tabla de datos solida y relevante para mi proyecto

In [ ]:
#Elimino las columnas inutiles(simplemente estan repetidas en arabe o no me son relevantes)

df = df.drop(["trans_group_ar","procedure_name_ar","property_type_ar","property_usage_ar","reg_type_ar","building_name_ar","project_name_ar","master_project_ar","nearest_landmark_ar","nearest_metro_ar","nearest_mall_ar","rooms_ar","property_sub_type_ar","area_name_ar","transaction_id","no_of_parties_role_1","no_of_parties_role_2","no_of_parties_role_3", "procedure_id","property_sub_type_id","project_number","project_name_en","master_project_en","procedure_name","building_name","procedure_area"], axis = 1)

In [ ]:
df = df.dropna(how = "all")

In [ ]:
df.columns = [e.lower().replace(' ', '_') for e in df.columns]

In [ ]:
df = df.applymap (lambda x: x.lower() if pd.notnull(x) and type(x)==str else x)  #todo a minus

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.rename(columns={'trans_group_en': 'trans_group'})
df = df.rename(columns={'procedure_name_en': 'procedure_name'})
df = df.rename(columns={'property_type_en': 'property_type'})
df = df.rename(columns={'property_sub_type_en': 'property_sub_type'})
df = df.rename(columns={'property_usage_en': 'property_usage'})
df = df.rename(columns={'reg_type_en': 'reg_type'})
df = df.rename(columns={'area_name_en': 'area_name'})
df = df.rename(columns={'building_name_en': 'building_name'})
df = df.rename(columns={'project_name_en': 'project_name'})
df = df.rename(columns={'master_project_en': 'master_project'})
df = df.rename(columns={'nearest_landmark_en': 'nearest_landmark'})
df = df.rename(columns={'nearest_metro_en': 'nearest_metro'})
df = df.rename(columns={'nearest_mall_en': 'nearest_mall'})
df = df.rename(columns={'rooms_en': 'rooms'})
df = df.rename(columns={'trans_group_en': 'trans_group'})
df = df.rename(columns={'trans_group_en': 'trans_group'})
df = df.rename(columns={'instance_date': 'date'})

In [ ]:
# Modifico la columna date para que sea str

df['date'] = df['date'].astype(str)

In [ ]:
# Modifico la columna date para darle la vuelta y expresarla en formato año-mes-dia

df['date'] = df['date'].apply(lambda x: '-'.join(reversed(x.split('-'))))

In [ ]:
# Fijo el año desde 2015 para ajustar la muestra a un mercado mas actualizado y significativo para estudio 

fecha_limite = '2015-01-01'
df = df[df['date'] >= fecha_limite]

In [ ]:
# Modifico la columna date para que sea tipo de dato Datetime y visualizar mejor

df['date'] = pd.to_datetime(df['date'])

In [ ]:
# Eliminar filas donde el valor en la columna 'date' es nulo
df = df.dropna(subset=['date'])

In [ ]:
df.isnull().sum()

In [ ]:
# Configuro pandas para que me de el formato en digitos enteros en vez de elevado

pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
df = df.dropna(thresh=len(df.columns) - 4) # Modificado el Df para que elimine las filas con mas de 4 valores nulos ya que dispongo de datos mas que suficientes

In [ ]:
df['property_sub_type'].fillna("flat", inplace=True)  # Relleno los nulos por columnas en funcion de lo que tiene sentido

In [ ]:
# Lo paso a 0/1 ya que para mi estudio es relevante si tiene alguno cercano y no como se llama
df['nearest_landmark'] = df['nearest_landmark'].apply(lambda x: 1 if isinstance(x, str) else 0)

In [ ]:
# Lo paso a 0/1
df['nearest_metro'] = df['nearest_metro'].apply(lambda x: 1 if isinstance(x, str) else 0)

In [ ]:
# Lo paso a 0/1
df['nearest_mall'] = df['nearest_mall'].apply(lambda x: 1 if isinstance(x, str) else 0)

In [ ]:
df['rooms'].fillna("2 b/r", inplace=True)

In [ ]:
# En el caso de precio inmueble observo que se me dervirtua la tabla rellenando con media o mediana, asi que relleno los nulos con la medio del precio de su zona 
df['actual_worth'] = df.groupby('area_name')['actual_worth'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
# Relleno las restantes con media/mediana
df['actual_worth'].fillna(1000000, inplace=True)

In [ ]:
# Como antes, en el caso de precio de alquiler observo que se me dervirtua la tabla, asi que relleno los nulos con la medio del precio de su zona 
df['rent_value'] = df.groupby('area_name')['rent_value'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df['rent_value'].fillna(1369535, inplace=True)

In [ ]:
# Lo mismo que con la renta, relleno los nulos con la media del precio de su zona 
df['meter_rent_price'] = df.groupby('area_name')['meter_rent_price'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df['meter_rent_price'].fillna(7129, inplace=True)

In [ ]:
# Eliminar las filas donde 'meter_sale_price' es menor que 1
df = df[df['meter_sale_price'] >= 1.0001]

In [ ]:
# Eliminar las filas donde 'actual_worth' es menor que 1
df = df[df['actual_worth'] >= 40000.00]

In [ ]:
df.columns

In [ ]:
df.head(1)

In [ ]:
df["meter_rent_price"].mode()

In [ ]:
df["meter_rent_price"].median()

In [ ]:
df["property_type"].unique()

In [ ]:
df["area_name"].unique()

In [ ]:
df["property_sub_type"].unique()

In [ ]:
df[df['meter_sale_price'] < 1000]

In [ ]:
df[df['actual_worth'] < 40000.00]

In [ ]:
df.to_csv("df_limpio.csv",index=False)

### Tablas para SQL

In [ ]:
df =df.reset_index()

In [ ]:
df=df.drop(columns=["index"],axis=0)

In [ ]:
tipo_de_compra = df[['trans_group_id', 'trans_group']]

In [ ]:
tipo_de_compra['id_tdc'] = range(1, len(df) + 1)  #añado una columna para la PK

In [ ]:
propiedad_y_uso = df[['property_type_id', 'property_type','property_sub_type','property_usage','reg_type','has_parking']]

In [ ]:
propiedad_y_uso['id_pyu'] = range(1, len(df) + 1)  #añado una columna para la PK

In [ ]:
zona = df[['area_id','area_name', 'nearest_landmark','nearest_metro','nearest_mall']]

In [ ]:
zona['id_z'] = range(1, len(df) + 1)  #añado una columna para la PK

In [ ]:
precio = df[['actual_worth', 'meter_sale_price','rent_value','meter_rent_price','date']]

In [ ]:
precio['id_p'] = range(1, len(df) + 1)    #añado una columna para la PK

In [ ]:
precio_tipo_de_compra = pd.concat([tipo_de_compra[['id_tdc']], precio[['id_p']]], axis=1)

In [ ]:
precio_propiedad_y_uso = pd.concat([propiedad_y_uso[['id_pyu']], precio[['id_p']]], axis=1)

In [ ]:
precio_zona = pd.concat([zona[['id_z']], precio[['id_p']]], axis=1)

In [ ]:
procedimiento = df[['procedure_name']]

In [ ]:
procedimiento['id_pro'] = range(1, len(df) + 1)

In [ ]:
# Obtén los valores únicos de la columna 'procedure_name'
pu = procedimiento['procedure_name'].unique()

# Crea un diccionario de mapeo para los valores únicos de 'procedure_name'
mapeo_valores = {procedimiento: indice + 1 for indice, procedimiento in enumerate(pu)}

# Crea una nueva columna en el DataFrame original con los valores asignados
procedimiento['procedure_id'] = procedimiento['procedure_name'].map(mapeo_valores)

# Imprime el DataFrame resultante
print(procedimiento)

In [ ]:
procedimiento.to_csv("procedimiento.csv")

In [ ]:
tipo_de_compra.to_csv("tipo_de_compra.csv")

In [ ]:
propiedad_y_uso.to_csv("propiedad_y_uso")

In [ ]:
precio.to_csv("precio.csv")

In [ ]:
precio_tipo_de_compra.to_csv("precio_tipo_de_compra.csv")

In [ ]:
precio_propiedad_y_uso.to_csv("precio_propiedad_y_uso")

In [ ]:
precio_zona.to_csv("precio_zona")

### Mandando datos a SQL

In [ ]:
from sqlalchemy import create_engine

from passwords import *

In [ ]:
str_conn = f'mysql+pymysql://root:{password_sql}@localhost:3306/mydb'
cursor = create_engine(str_conn)

In [ ]:
procedimiento.to_sql(name='procedimiento',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
tipo_de_compra.to_sql(name='tipo_de_compra',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
propiedad_y_uso.to_sql(name='propiedad_y_uso',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
precio.to_sql(name='precio',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
precio_tipo_de_compra.to_sql(name='precio_tipo_de_compra',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
precio_propiedad_y_uso.to_sql(name='precio_propiedad_y_uso',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )

In [ ]:
precio_zona.to_sql(name='precio_zona',       # nombre de la tabla
          con=cursor,           # conexion al servidor
          if_exists='append',  # replace sobreescribe la tabla, append añade
          index=False
         )